.card {
    border: 3px solid #ccc;
    padding: 10px;
    margin: 20px;
    display: flex;
    width: 20vw;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease-in-out;
}

.card__item {
    display: flex;
    margin-bottom: 10px;
}
.card__label {
    font-weight: bold;
    margin-right: 5px;
    align-items: stretch;
}
.card__value {
    font-style: italic;
}

.card:hover{
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    border: none;
    cursor: pointer;
}
