.card {
    border: 3px solid #ccc;
    padding: 10px;
    margin: 20px;
    display: flex;
    width: 20vw;
    flex-direction: column;
    align-items: center;
    
}

.card__item {
    display: flex;
    margin-bottom: 10px;
}
.card__label {
    font-weight: bold;
    margin-right: 5px;
    align-items: stretch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.card__value {
}
