.navbarConteiner {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    background-color: #FBFFA5;
    padding: 20px;
    height: 10vh;
    width: 100%;
}
