.navigation {
    color: black;
    font-size: 1em;
    text-decoration: none;
    margin: 0 1em;
    cursor: pointer;
    transition: font-size 0.3s ease-in-out;
}
.navigation:hover{
    font-size: 1.2em; 
    text-shadow: 1px 1px 2px black;
}
