.aboutUsConteinter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffa21f;
    height: 90vh;
}
.aboutUsConteinter h1 {
    color: white;
    font-size: 6em;
    text-align: center;
}
.aboutUsConteinter p {
    color: #fbffa5;
    font-size: 2em;
    text-align: center;
}
.img {
    width: 50%;
    border-radius: 40%;
    margin: 1em;
}
